<!--HTML-->
<div class="king-page-box king-layout1-main clearfix">
    <!-- 左边 start -->
    <div class="king-layout1-sidebar column ui-container" style="width:216px; background:#ddd; min-height:500px;">
        <form role="form">
            <div class="form-group">
                <label>请选择业务:</label>
                <input type="text"
                       class="w-100"
                       ng-model="args.business"
                       cw-selectstr2="business"
                       ng-change="get_tree()"/>

            </div>
            <div class="form-group tuo-pu">
                <label>选择拓扑:</label>
                <ul id="businessTopo" ztree="zTreeOptions" ng-model="businessTopo" class="ztree"></ul>
            </div>
        </form>
    </div>
    <!-- 左边 end -->
    <!-- content start -->
    <div class="king-content-wrap">
        <div class="king-layout1-content ui-container p15"
             style="margin-left: 216px; background:#eee; min-height:500px;">
            <form class="form-horizontal" role="form">
                <div class="form-group ">
                    <label class="col-sm-1 text-right">主机IP:</label>
                    <div class="col-sm-11">
                        <textarea ng-model="args.host" class="form-control w-100"
                                  style="height:80px !important;"></textarea>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-1 text-right">目录:</label>
                    <div class="col-sm-5">
                        <input type="text"
                               class="form-control"
                               ng-model="args.folder"/>
                    </div>
                    <label class="col-sm-1 text-right">文件名:</label>
                    <div class="col-sm-5">
                        <input type="text"
                               class="form-control"
                               ng-model="args.filename"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <button  ng-click="search()" class="btn btn-primary">立即搜索</button>
                    </div>
                </div>
            </form>
            <div cw-adaptbody="84" ng-grid="gridOption" style="overflow-y: hidden;overflow-x: hidden;">
            </div>
            <div class="ngFooterPanel" style="width: 100%; height: 35px;">
                <div class="ngTotalSelectContainer  grid_footer">
                    <div class="ngFooterTotalItems">
                        <span class="ngLabel ng-binding">条目总数： {{ all_len }}</span>
                    </div>
                </div>
                <div class="ngPagerContainer" style="float: right; margin-top: 10px;">
                    <div style="float:left; margin-right: 10px;" class="ngRowCountPicker">
                        <span style="float: left; margin-top: 3px;" class="ngLabel">每页显示数：</span>
                        <select style="float: left;height: 27px !important; width: 100px"
                                ng-model="pagingOptions.pageSize">
                            <option ng-repeat="size in pagingOptions.pageSizes">{{ size }}</option>
                        </select>
                    </div>
                    <div style="float:left; margin-right: 10px; line-height:25px;" class="ngPagerControl">
                        <button class="ngPagerButton" ng-click="goToPage(0)"
                                ng-disabled="pagingOptions.currentPage==1"
                                title="回到首页"><span class="fa fa-lg fa-step-backward"></span></button>
                        <button class="ngPagerButton" ng-click="goToPage(-1)"
                                ng-disabled="pagingOptions.currentPage==1"
                                title="上一页"><span class="fa fa-lg fa-caret-left"></span></button>
                        <input class="ngPagerCurrent" min="1" max="{{ currentMaxPages }}" type="number"
                               style="width:50px; height: 24px; margin-top: 1px; padding: 0 4px;"
                               ng-model="pagingOptions.currentPage">
                        <span class="ngGridMaxPagesNumber" ng-show="maxP > 0"> / {{ maxP }}</span>
                        <button class="ngPagerButton" ng-click="goToPage(1)"
                                ng-disabled="pagingOptions.currentPage==maxP"
                                title="下一页"><span class="fa fa-lg fa-caret-right"></span></button>
                        <button class="ngPagerButton" ng-click="goToPage(9)"
                                ng-disabled="pagingOptions.currentPage==maxP"
                                title="前往尾页"><span class="fa fa-lg fa-step-forward"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>

<style>
    .tuo-pu {
        position: absolute;
        top: 65px;
    }

    #businessTopo {
        position: absolute;
        top: 15px;
    }
</style>