#cwTopMenu {
    height: 58px;
    width: 57%;
    margin-left: 30px;
    background: #fff;
    float: left;
}

.cw-top-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cw-top-nav > li {
    height: 60px;
    line-height: 60px;
    float: left;
}

.cw-top-nav .cw-top-menu .menu {
    padding: 7px 22px;
    /*border-radius: 20px;*/
    margin-left: 15px;
    /*border: 1px solid #fff;*/
    /*display: inline;*/
    height: 59px;
    line-height: 47px;
}

.cw-top-nav .cw-top-menu .menu > a {
    font-size: 16px;
    color: #909399;
    font-family: "Microsoft YaHei";
}

.cw-top-nav .cw-top-menu .menu > a:hover {
    color: #0180cb;
}

.top-nav-child {
    list-style: none;
    margin-left: 10px;
    background: #fff;
    border-radius: 5px;
    padding: 10px 0 12px 0;
    cursor: pointer;
    min-width: 125px;
    position: absolute;
    top: 59px;
    z-index: 2;
    box-shadow: -2px 2px 14px #ddf;
}

.top-menu-child {
    position: relative;
}

.top-menu-child > a {
    display: inline-block;
    padding: 7px 20px;
    color: #909399;
    font-size: 15px;
    width: 100%;
}

.top-menu-child:hover {
    background: #fff !important;
}

.top-menu-child:hover > a {
    color: #fff;
    background: #217fc3;
}

.menu-active {
    border-bottom: 3px solid #217fc3 !important;
}

.hide-menu-child {
    display: none;
    transition: all linear 0.5s;
}

.top-nav-child3 {
    position: absolute;
    padding: 5px 0;
    left: 125px;
    top: 0;
    background: #fff;
    border-radius: 3px;
    line-height: 1.5;
    opacity: 0.9;
    box-shadow: 2px 2px 14px #ddf;
}

.top-menu-child3 {
    list-style: none;
    min-width: 120px;
    background: #fff;
}

.top-menu-child3:hover {
    background: #fff;
}

.top-menu-child3 > a {
    display: inline-block;
    padding: 7px 20px;
    color: #333333;
    font-size: 15px;
    width: 100%;
}

.top-menu-child3:hover > a {
    color: #217fc3;
    /*background: #217fc3;*/
}

.a-active{
    color: #217fc3 !important;
}

