<div ng-if="info.type == 'success' || info.type == 'error'" style="color: #333;">
    <div dragable>
    </div>
    <div ng-if="info.type == 'success'" style="margin-bottom: 10px;">
        <div style="width: 73%;margin: 0 auto;min-height: 100px">
            <div style="width: 100%;margin: 0 auto">
                <div style="width: 40px;height: 40px;margin: 0 auto">
                    <img width="40px" src="{{static_url}}img/success.png" >
                </div>
                <div ng-bind="info.text" style="font-size: 18px;text-align: center;font-family: 'Microsoft YaHei';margin-top: 12px"></div>
            </div>
            <div style="margin: 18px 0 30px 34%;">
                <input style="width: 80px" type="button" value="知道了" class="btn btn-primary btn-outline" ng-click="cancel();"/>&emsp;
            </div>
        </div>
    </div>
    <div ng-if="info.type == 'error'" style="margin-bottom: 10px;">
        <div style="width: 73%;margin: 0 auto;min-height: 100px">
            <div style="width: 100%;margin: 0 auto">
                <div style="width: 40px;height: 40px;margin: 0 auto">
                    <img width="40px" src="{{static_url}}img/error.png" >
                </div>
                <div ng-bind="info.text" style="font-size: 18px;text-align: center;font-family: 'Microsoft YaHei';margin-top: 12px"></div>
            </div>
            <div style="margin: 18px 0 30px 34%;">
                <input style="width: 80px" type="button" value="知道了" class="btn btn-primary btn-outline" ng-click="cancel();"/>&emsp;
            </div>
        </div>
    </div>
</div>


<div ng-if="info.type == 'success1' || info.type == 'error1'" style="color: #333;height: 45px;">
    <div ng-if="info.type == 'success1'">
        <div>
            <div style="float: left;margin-left: 30px">
                <img width="25px" style="margin-top: 10px" src="{{static_url}}img/success.png" >
            </div>
            <div ng-bind="info.text" style="font-size: 18px;text-align: center;float: left;margin: 10px 0 0 10px"></div>
            <div class="fa fa-close" ng-click="cancel()" style="float: right;margin: 17px;cursor: pointer"></div>
        </div>
    </div>
    <div ng-if="info.type == 'error1'">
        <div>
            <div style="float: left;margin-left: 30px">
                <img width="25px" style="margin-top: 10px" src="{{static_url}}img/error.png" >
            </div>
            <div ng-bind="info.text" style="font-size: 18px;text-align: center;float: left;margin: 10px 0 0 10px"></div>
            <div class="fa fa-close" ng-click="cancel()" style="float: right;margin: 17px;cursor: pointer"></div>
        </div>
    </div>
</div>
